@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styling */
@layer base {

  body {
    font-family: "JetBrains Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-primary text-white antialiased leading-loose;
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

 .text-outline{
  -webkit-text-stroke: 1px white;

}
.text-outline:hover{
  -webkit-text-stroke: 1px #00ff99
} 
}

