@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.75; /* leading-loose yerine */
    margin: 0;
    padding: 0;
    background-color: #1c1c22;
  }
}
