@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styling */
@layer base {
  body {
    font-family: "JetBrains Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-primary text-white antialiased;
  }
}
